YELP_API_KEY=XV0LvaRTixC-LygiZZB1rn1_Q74yurpcX6hEQJivR7AOuc4QmS0nsEfRBLzLyFFIsY9xdrSnGpvOm4FwMJUEVXxAId0YbWMtFKMGkJ9XdC1FZlDrB4eOHAngNNzNaXYx
SUPABASE_URL=https://wmfygfkpurclrugiuelv.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndtZnlnZmtwdXJjbHJ1Z2l1ZWx2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUxNTY3MzcsImV4cCI6MjA5MDczMjczN30.WyQnl__1vKesznW1JqJOR-qHDdJcJWflY7VmrKIoWu4
